*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.part1 body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

.part1 form {
  max-width: 70%;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

.part1 h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

.part1
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  display:block;
}

.part1 input[type="radio"],
.part1 input[type="checkbox"] {
  margin: 0 4px 8px 0;
  display:block;
}

.part1 select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

.part1 button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

.part1 fieldset {
  margin-bottom: 30px;
  border: none;
}

.part1 legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.part1 label {
  display: block;
  margin-bottom: 8px;
  text-align:left;
}

.part1 label.light {
  font-weight: 300;
  display: inline;
}

.part1 .number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

.part1 @media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

a {
  color: inherit;
    text-decoration: none;
}



}