﻿<%@ Page Language="VB" MasterPageFile="~/OPMS.master" AutoEventWireup="false" CodeFile="LoginInfo.aspx.vb" Inherits="LoginInfo" title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <p style="background-image: url('backgroundimages/two-flowers-at-field-nature-backgrounds-wallpapers.jpg'); font-family: 'comic Sans MS'; font-size: x-large; font-weight: 500; font-style: normal; color: #000000;">

<table class="content" width="100%" align="center" border="0" cellspacing="0" 
            cellpadding="0" frame="above" 
            
            
            
            
            
            style="background-position: center center; background-image: url('backgroundimages/background.jpg'); empty-cells: hide; background-repeat: no-repeat; background-attachment: fixed; font-family: 'comic Sans MS'; font-size: large; font-weight: 500; color: #000000; height: 730px;">



<tr valign="top">

<td colspan="2" class="p10px registration_h b large ttu" 
        
        
        
        style="font-family: 'comic Sans MS'; font-size: x-large; font-weight: 500; font-style: normal; color: #FFFFFF; height: 38px; empty-cells: hide; background-color: #000000;">
    
   <marquee behavior="" style="width: 696px">Login Information</marquee> </td>

</tr>



<tr valign="top">

<td colspan="2" class="p5px10px bgf8f8f8 bdrB" 
        
        
        style="font-family: 'comic Sans MS'; font-size: large; font-weight: 500; font-style: normal; height: 12px; color: #000000; background-color: #C0C0C0;">
    Field With * Mark Are Compulsory<br />
    To apply to jobs and get contacted by recruiters, please create your account<br />
    </td>

</tr>



<tr valign="top">

<td width="25%" class="p5px10px ar" 
        
        
        
        style="font-family: 'comic Sans MS'; font-size: large; font-weight: 500; font-style: normal; height: 35px;">
    <span class="red">
    *</span> Username</td>

<td class="p5px10px" style="height: 35px; width: 486px">
    <asp:TextBox ID="uname" runat="server" Height="24px" 
        Width="324px"></asp:TextBox> &nbsp;<asp:RequiredFieldValidator 
        ID="RequiredFieldValidator1" runat="server" 
    ControlToValidate="uname"
        ErrorMessage=" * UserName Cannot Be Left Blank" Font-Size="X-Small"></asp:RequiredFieldValidator>
    <br />

</td>

</tr>



<tr valign="top">

<td class="p5px10px ar" 
        
        style="font-family: 'TImes New Roman', Times, serif; font-size: large; font-weight: bolder; font-style: normal; height: 35px;">
    <span class="red" 
        
        style="font-family: 'comic Sans MS'; font-size: large; font-weight: 500; color: #000000">
    * Password</span></td>

<td class="p5px10px" style="height: 35px; width: 486px">
    <asp:TextBox ID="pass" runat="server" TextMode="Password" 
        Width="283px" Height="24px"></asp:TextBox>
    
        
    <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" 
    ControlToValidate="pass"
        ErrorMessage=" * Password Cannot Be Left Blank" Font-Size="X-Small"></asp:RequiredFieldValidator>
    
        
    <br />
    
        
        </td>

</tr>



<tr valign="top">

<td class="p5px10px ar" 
        
        style="height: 24px; font-family: 'comic Sans MS'; font-size: large; font-weight: 500; font-style: normal;">
    <span class="red">
    *</span> Confirm Password<br />
    <br />
    &nbsp;&nbsp; Security Question<br />
    * Security Answer</td>

<td class="p5px10px" 
        style="height: 24px; font-family: 'comic Sans MS'; width: 486px;">
    <asp:TextBox ID="conpass" 
        runat="server" TextMode="Password" Width="283px" Height="24px"></asp:TextBox>
                                <asp:RequiredFieldValidator ID="RequiredFieldValidator3" runat="server" 
                                ControlToValidate="conpass"
        ErrorMessage=" * Confirm Password Cannot Be Left Blank" 
        Font-Size="X-Small"></asp:RequiredFieldValidator>
                                <br />
                                <br />
    What Is Your Mother&#39;s Maiden Name<br />
    <asp:TextBox ID="txtsecans" runat="server" Height="24px" Width="285px" 
        TextMode="Password"></asp:TextBox>
    security answer will helpful&nbsp; in case when you forget your 
    password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <asp:RequiredFieldValidator 
        ID="RequiredFieldValidator4" runat="server" 
        ControlToValidate="txtsecans"
        ErrorMessage=" * Please Enter Any Security Hint" Font-Size="Small"></asp:RequiredFieldValidator>
                                </td>

</tr>



<tr valign="top">

<td colspan="2" class="p10px" style="height: 220px"><p class="bdrBlight" 
        
        
        style="height: 458px; background-image: url('PLACEMENT%20IMAGES/Job-Placement-Employment-Transition-2.gif'); width: 698px;">
    <asp:Label ID="Label1" runat="server" 
        Font-Bold="False" Font-Names="Comic Sans MS" Font-Size="Small" 
        ForeColor="#FF3300"></asp:Label>
    <br />
    <asp:CompareValidator ID="CompareValidator1" runat="server"
    ControlToValidate="conpass" ControlToCompare="pass" 
        ErrorMessage=" * Password Mismatch" Font-Size="Small"></asp:CompareValidator>
   
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    

    <asp:Button ID="Button1" runat="server" Text="SAVE &amp; NEXT" Width="196px" />
    </p>
    </td>

</tr>



</table><br /></p></asp:Content>

