﻿<%@ Page Language="VB" MasterPageFile="~/OPMS.master" AutoEventWireup="false" CodeFile="RegisteredUserPage.aspx.vb" Inherits="RegisteredUserPage" title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <p style="background-image: url('backgroundimages/background.jpg')" 
    align="left">

<table class="bdr" align="center" border="0" cellspacing="0" 
            cellpadding="0" frame="box" 
            
            
            
            style="background: #FFFFFF url('backgroundimages/background.jpg') center; color: #000000; font-size: medium; font-weight: bolder; font-style: normal; font-family: 'times New Roman', Times, serif; width: 700px; height: 647px;">

<tr valign="top">

<td colspan="2" class="p10px registration_h b large ttu"
        style="font-family: 'Times New Roman', Times, serif; font-size: large; font-weight: 200; font-style: normal; color: #FF0000; background-color: #FFFFFF; height: 40px; text-align: center; background-image: url('backgroundimages/background.jpg');">
    <marquee behavior="a" style="width: 698px; height: 27px">Click On Edit Button To Update / Edit Your Resume Details</marquee><br />
 <asp:Label ID="Label1" runat="server"></asp:Label>
     
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     
     <asp:LinkButton ID="LinkButton1" runat="server">LogOut</asp:LinkButton>
    <br />
 </td>
</tr>
<tr valign="top">
<td colspan="2" class="p5px10px bgf8f8f8 bdrB" 
        
        style="font-family: 'comic Sans MS'; font-size: xx-large; font-weight: 500; font-style: normal; height: 1px; color: #0099FF; text-align: center;">
    <br />
    <asp:Image ID="Image1" runat="server" Height="99px" 
        ImageUrl="~/PLACEMENT IMAGES/CAREER.jpg" Width="696px" />
    <br />
    Login Information</td>

</tr>

<tr valign="top">

<td width="25%" class="p5px10px ar" 
        style="font-family: 'Times New Roman', Times, serif; font-size: large; font-weight: bolder; font-style: normal">
    <span class="red">
    <br />
    <br />
    *</span> Username</td>

<td class="p5px10px" style="width: 503px">
    <br />
    
    <br />
    <asp:TextBox ID="txtuname" runat="server" Height="18px" 
        Width="235px" Enabled="False"></asp:TextBox> &nbsp;<br />

</td>

</tr>

<tr valign="top">

<td class="p5px10px ar" 
        style="font-family: 'TImes New Roman', Times, serif; font-size: large; font-weight: bolder; font-style: normal"><span class="red">
    <br />
    * Password</span></td>

<td class="p5px10px" style="width: 503px">
    <br />
    
    <asp:TextBox ID="txtpass" runat="server" 
        Width="290px" Height="20px" Enabled="False" TextMode="Password"></asp:TextBox>
    
    <br />     
        </td>

</tr>

<tr valign="top">

<td class="p5px10px ar" 
        style="height: 24px; font-family: 'TImes New Roman', Times, serif; font-size: large; font-weight: bolder; font-style: normal;"><span class="red">
    <br />
    *</span> Confirm Password</td>

<td class="p5px10px" 
                                    
        style="background: #FFFFFF url('backgroundimages/background.jpg') no-repeat fixed center; margin: auto; height: 24px; width: 503px;">
    <br />
    <asp:TextBox ID="txtconpass" 
        runat="server" TextMode="Password" Width="290px" Height="20px" 
        Enabled="False"></asp:TextBox>
                             </td>
</tr>

<tr valign="top">

<td colspan="2" class="p10px"><p class="bdrBlight" 
        
        style="background-position: center center; height: 267px; background-image: url('backgroundimages/background.jpg'); background-repeat: no-repeat; background-attachment: fixed; width: 703px;">
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:Button ID="Button1" runat="server" Text="Click To Edit Login Info" 
        Width="196px" />
    &nbsp;<br />
    <br />
    <img src="PLACEMENT%20IMAGES/dream%20jobs.jpg" 
        style="width: 702px; height: 146px" /><br />
    </p></td>

</tr>

</table>

        <table align="center" border="0" cellpadding="0" cellspacing="0" class="bdr" 
                                      
            
            style="background-position: center center; color: #000000; font-family: 'times New Roman', Times, serif; font-size: medium; font-weight: bolder; font-style: normal; background-image: url('backgroundimages/background.jpg'); margin-right: 15; background-repeat: no-repeat; background-attachment: fixed; height: 588px; width: 100%;">
            <tr valign="top">
                <td class="p10px registration_h b large ttu" colspan="2" 
                    
                    style="font-family: 'comic Sans MS'; font-size: xx-large; font-weight: 500; font-style: normal; height: 29px; color: #0099FF; text-align: center;">
                    Personal Information</td>
            </tr>
            <tr valign="top">
                <td class="p5px10px bgf8f8f8 bdrB" colspan="2" 
                    style="font-family: 'Times New Roman', Times, serif; font-size: x-large; font-style: normal; font-weight: bolder">
                    &nbsp;</td>
            </tr>
            <tr valign="top">
                <td class="p5px10px ar" 
                    style="width: 200px; font-family: 'Times New Roman', Times, serif; font-size: large; font-weight: bolder; font-style: normal;">
                    <span class="red">
                    <br />
                    *</span> Your Name</td>
                <td class="p5px10px">
                    <br />
                    <asp:TextBox ID="txtyname" runat="server" Enabled="False" Width="254px"></asp:TextBox>
                    
                </td>
            </tr>
            <tr valign="top">
                <td class="p5px10px ar" 
                    style="width: 200px; font-family: 'Times New Roman', Times, serif; font-size: large; font-weight: bolder; font-style: normal;">
                    <span class="red">
                    <br />
                    *</span> Gender
                </td>
                <td class="p5px10px">
                    
                    <br />
                    <asp:RadioButton ID="rmale" runat="server" GroupName="rmf" Text="  Male" 
                        Enabled="False" />
                    &nbsp;&nbsp;
                    <asp:RadioButton ID="rfemale" runat="server" Enabled="False" GroupName="rmf" 
                        Text="  Female" />
                </td>
            </tr>
            <tr valign="top">
                <td class="p5px10px ar" 
                    style="width: 200px; font-family: 'Times New Roman', Times, serif; font-size: large; font-weight: bolder; font-style: normal;">
                    <span class="red">
                    <br />
                    *</span> Date Of Birth</td>
                <td class="p5px10px">
                    <br />
                    <asp:TextBox ID="txtdate" runat="server" Enabled="False" Width="147px"></asp:TextBox>
                    [ dd/mm/yyyy ] &nbsp; </td>
            </tr>
            <tr valign="top">
                <td class="p5px10px ar" 
                    style="width: 200px; font-family: 'times New Roman', Times, serif; font-size: large; font-weight: bolder; font-style: normal;">
                    <span class="red">
                    <br />
                    *</span> Country
                </td>
                <td class="p5px10px">
                    <br />
                    &nbsp;<asp:DropDownList ID="COUNTRY" runat="server" Enabled="False">
                        <asp:ListItem Value="Afghanistan"></asp:ListItem>
                        <asp:ListItem value="AL">Albania</asp:ListItem>
                        <asp:ListItem value="DZ">Algeria</asp:ListItem>
                        <asp:ListItem value="AS">American Samoa</asp:ListItem>
                        <asp:ListItem value="AD">Andorra</asp:ListItem>
                        <asp:ListItem value="AO">Angola</asp:ListItem>
                        <asp:ListItem value="AI">Anguilla</asp:ListItem>
                        <asp:ListItem value="AQ">Antarctica</asp:ListItem>
                        <asp:ListItem value="AG">Antigua and Barbuda</asp:ListItem>
                        <asp:ListItem value="AR">Argentina</asp:ListItem>
                        <asp:ListItem value="AM">Armenia</asp:ListItem>
                        <asp:ListItem value="AW">Aruba</asp:ListItem>
                        <asp:ListItem value="AU">Australia</asp:ListItem>
                        <asp:ListItem value="AT">Austria</asp:ListItem>
                        <asp:ListItem value="AZ">Azerbaijan</asp:ListItem>
                        <asp:ListItem value="BS">Bahamas</asp:ListItem>
                        <asp:ListItem value="BH">Bahrain</asp:ListItem>
                        <asp:ListItem value="BD">Bangladesh</asp:ListItem>
                        <asp:ListItem value="BB">Barbados</asp:ListItem>
                        <asp:ListItem value="BY">Belarus</asp:ListItem>
                        <asp:ListItem value="BE">Belgium</asp:ListItem>
                        <asp:ListItem value="BZ">Belize</asp:ListItem>
                        <asp:ListItem value="BJ">Benin</asp:ListItem>
                        <asp:ListItem value="BM">Bermuda</asp:ListItem>
                        <asp:ListItem value="BT">Bhutan</asp:ListItem>
                        <asp:ListItem value="BO">Bolivia</asp:ListItem>
                        <asp:ListItem value="BA">Bosnia and Herzegowina</asp:ListItem>
                        <asp:ListItem value="BW">Botswana</asp:ListItem>
                        <asp:ListItem value="BV">Bouvet Island</asp:ListItem>
                        <asp:ListItem value="BR">Brazil</asp:ListItem>
                        <asp:ListItem value="IO">British Indian Ocean Territory</asp:ListItem>
                        <asp:ListItem value="BN">Brunei Darussalam</asp:ListItem>
                        <asp:ListItem value="BG">Bulgaria</asp:ListItem>
                        <asp:ListItem value="BF">Burkina Faso</asp:ListItem>
                        <asp:ListItem value="BI">Burundi</asp:ListItem>
                        <asp:ListItem value="KH">Cambodia</asp:ListItem>
                        <asp:ListItem value="CM">Cameroon</asp:ListItem>
                        <asp:ListItem value="CA">Canada</asp:ListItem>
                        <asp:ListItem value="CV">Cape Verde</asp:ListItem>
                        <asp:ListItem value="KY">Cayman Islands</asp:ListItem>
                        <asp:ListItem value="CF">Central African Republic</asp:ListItem>
                        <asp:ListItem value="TD">Chad</asp:ListItem>
                        <asp:ListItem value="CL">Chile</asp:ListItem>
                        <asp:ListItem value="CN">China</asp:ListItem>
                        <asp:ListItem value="CX">Christmas Island</asp:ListItem>
                        <asp:ListItem value="CC">Cocos (Keeling) Islands</asp:ListItem>
                        <asp:ListItem value="CO">Colombia</asp:ListItem>
                        <asp:ListItem value="KM">Comoros</asp:ListItem>
                        <asp:ListItem value="CG">Congo</asp:ListItem>
                        <asp:ListItem value="ZR">Congo, The Democratic Republic Of The</asp:ListItem>
                        <asp:ListItem value="CK">Cook Islands</asp:ListItem>
                        <asp:ListItem value="CR">Costa Rica</asp:ListItem>
                        <asp:ListItem value="HR">Croatia (local name: Hrvatska)</asp:ListItem>
                        <asp:ListItem value="CU">Cuba</asp:ListItem>
                        <asp:ListItem value="CY">Cyprus</asp:ListItem>
                        <asp:ListItem value="CZ">Czech Republic</asp:ListItem>
                        <asp:ListItem value="DK">Denmark</asp:ListItem>
                        <asp:ListItem value="DJ">Djibouti</asp:ListItem>
                        <asp:ListItem value="DM">Dominica</asp:ListItem>
                        <asp:ListItem value="DO">Dominican Republic</asp:ListItem>
                        <asp:ListItem value="TP">East Timor</asp:ListItem>
                        <asp:ListItem value="EC">Ecuador</asp:ListItem>
                        <asp:ListItem value="EG">Egypt</asp:ListItem>
                        <asp:ListItem value="SV">El Salvador</asp:ListItem>
                        <asp:ListItem value="GQ">Equatorial Guinea</asp:ListItem>
                        <asp:ListItem value="ER">Eritrea</asp:ListItem>
                        <asp:ListItem value="EE">Estonia</asp:ListItem>
                        <asp:ListItem value="ET">Ethiopia</asp:ListItem>
                        <asp:ListItem value="FK">Falkland Islands (Malvinas)</asp:ListItem>
                        <asp:ListItem value="FO">Faroe Islands</asp:ListItem>
                        <asp:ListItem value="FJ">Fiji</asp:ListItem>
                        <asp:ListItem value="FI">Finland</asp:ListItem>
                        <asp:ListItem value="FR">France</asp:ListItem>
                        <asp:ListItem value="FX">France Metropolitan</asp:ListItem>
                        <asp:ListItem value="GF">French Guiana</asp:ListItem>
                        <asp:ListItem value="PF">French Polynesia</asp:ListItem>
                        <asp:ListItem value="TF">French Southern Territories</asp:ListItem>
                        <asp:ListItem value="GA">Gabon</asp:ListItem>
                        <asp:ListItem value="GM">Gambia</asp:ListItem>
                        <asp:ListItem value="GE">Georgia</asp:ListItem>
                        <asp:ListItem value="DE">Germany</asp:ListItem>
                        <asp:ListItem value="GH">Ghana</asp:ListItem>
                        <asp:ListItem value="GI">Gibraltar</asp:ListItem>
                        <asp:ListItem value="GR">Greece</asp:ListItem>
                        <asp:ListItem value="GL">Greenland</asp:ListItem>
                        <asp:ListItem value="GD">Grenada</asp:ListItem>
                        <asp:ListItem value="GP">Guadeloupe</asp:ListItem>
                        <asp:ListItem value="GU">Guam</asp:ListItem>
                        <asp:ListItem value="GT">Guatemala</asp:ListItem>
                        <asp:ListItem value="GN">Guinea</asp:ListItem>
                        <asp:ListItem value="GW">Guinea-Bissau</asp:ListItem>
                        <asp:ListItem value="GY">Guyana</asp:ListItem>
                        <asp:ListItem value="HT">Haiti</asp:ListItem>
                        <asp:ListItem value="HM">Heard and Mc Donald Islands</asp:ListItem>
                        <asp:ListItem value="HN">Honduras</asp:ListItem>
                        <asp:ListItem value="HK">Hong Kong</asp:ListItem>
                        <asp:ListItem value="HU">Hungary</asp:ListItem>
                        <asp:ListItem value="IS">Iceland</asp:ListItem>
                        <asp:ListItem value="IN">India</asp:ListItem>
                        <asp:ListItem value="ID">Indonesia</asp:ListItem>
                        <asp:ListItem value="IR">Iran (Islamic Republic of)</asp:ListItem>
                        <asp:ListItem value="IQ">Iraq</asp:ListItem>
                        <asp:ListItem value="IE">Ireland</asp:ListItem>
                        <asp:ListItem value="IL">Israel</asp:ListItem>
                        <asp:ListItem value="IT">Italy</asp:ListItem>
                        <asp:ListItem value="JM">Jamaica</asp:ListItem>
                        <asp:ListItem value="JP">Japan</asp:ListItem>
                        <asp:ListItem value="JO">Jordan</asp:ListItem>
                        <asp:ListItem value="KZ">Kazakhstan</asp:ListItem>
                        <asp:ListItem value="KE">Kenya</asp:ListItem>
                        <asp:ListItem value="KI">Kiribati</asp:ListItem>
                        <asp:ListItem value="KW">Kuwait</asp:ListItem>
                        <asp:ListItem value="KG">Kyrgyzstan</asp:ListItem>
                        <asp:ListItem value="LV">Latvia</asp:ListItem>
                        <asp:ListItem value="LB">Lebanon</asp:ListItem>
                        <asp:ListItem value="LS">Lesotho</asp:ListItem>
                        <asp:ListItem value="LR">Liberia</asp:ListItem>
                        <asp:ListItem value="LY">Libyan Arab Jamahiriya</asp:ListItem>
                        <asp:ListItem value="LI">Liechtenstein</asp:ListItem>
                        <asp:ListItem value="LT">Lithuania</asp:ListItem>
                        <asp:ListItem value="LU">Luxembourg</asp:ListItem>
                        <asp:ListItem value="MO">Macao</asp:ListItem>
                        <asp:ListItem value="MK">Macedonia</asp:ListItem>
                        <asp:ListItem value="MG">Madagascar</asp:ListItem>
                        <asp:ListItem value="MW">Malawi</asp:ListItem>
                        <asp:ListItem value="MY">Malaysia</asp:ListItem>
                        <asp:ListItem value="MV">Maldives</asp:ListItem>
                        <asp:ListItem value="ML">Mali</asp:ListItem>
                        <asp:ListItem value="MT">Malta</asp:ListItem>
                        <asp:ListItem value="MH">Marshall Islands</asp:ListItem>
                        <asp:ListItem value="MQ">Martinique</asp:ListItem>
                        <asp:ListItem value="MR">Mauritania</asp:ListItem>
                        <asp:ListItem value="MU">Mauritius</asp:ListItem>
                        <asp:ListItem value="YT">Mayotte</asp:ListItem>
                        <asp:ListItem value="MX">Mexico</asp:ListItem>
                        <asp:ListItem value="FM">Micronesia</asp:ListItem>
                        <asp:ListItem value="MD">Moldova</asp:ListItem>
                        <asp:ListItem value="MC">Monaco</asp:ListItem>
                        <asp:ListItem value="MN">Mongolia</asp:ListItem>
                        <asp:ListItem value="MS">Montserrat</asp:ListItem>
                        <asp:ListItem value="MA">Morocco</asp:ListItem>
                        <asp:ListItem value="MZ">Mozambique</asp:ListItem>
                        <asp:ListItem value="MM">Myanmar</asp:ListItem>
                        <asp:ListItem value="NA">Namibia</asp:ListItem>
                        <asp:ListItem value="NR">Nauru</asp:ListItem>
                        <asp:ListItem value="NP">Nepal</asp:ListItem>
                        <asp:ListItem value="NL">Netherlands</asp:ListItem>
                        <asp:ListItem value="AN">Netherlands Antilles</asp:ListItem>
                        <asp:ListItem value="NC">New Caledonia</asp:ListItem>
                        <asp:ListItem value="NZ">New Zealand</asp:ListItem>
                        <asp:ListItem value="NI">Nicaragua</asp:ListItem>
                        <asp:ListItem value="NE">Niger</asp:ListItem>
                        <asp:ListItem value="NG">Nigeria</asp:ListItem>
                        <asp:ListItem value="NU">Niue</asp:ListItem>
                        <asp:ListItem value="NF">Norfolk Island</asp:ListItem>
                        <asp:ListItem value="KP">North Korea</asp:ListItem>
                        <asp:ListItem value="MP">Northern Mariana Islands</asp:ListItem>
                        <asp:ListItem value="NO">Norway</asp:ListItem>
                        <asp:ListItem value="OM">Oman</asp:ListItem>
                        <asp:ListItem value="OT">Other Country</asp:ListItem>
                        <asp:ListItem value="PK">Pakistan</asp:ListItem>
                        <asp:ListItem value="PW">Palau</asp:ListItem>
                        <asp:ListItem value="PA">Panama</asp:ListItem>
                        <asp:ListItem value="PG">Papua New Guinea</asp:ListItem>
                        <asp:ListItem value="PY">Paraguay</asp:ListItem>
                        <asp:ListItem value="PE">Peru</asp:ListItem>
                        <asp:ListItem value="PH">Philippines</asp:ListItem>
                        <asp:ListItem value="PN">Pitcairn</asp:ListItem>
                        <asp:ListItem value="PL">Poland</asp:ListItem>
                        <asp:ListItem value="PT">Portugal</asp:ListItem>
                        <asp:ListItem value="PR">Puerto Rico</asp:ListItem>
                        <asp:ListItem value="QA">Qatar</asp:ListItem>
                        <asp:ListItem value="RE">Reunion</asp:ListItem>
                        <asp:ListItem value="RO">Romania</asp:ListItem>
                        <asp:ListItem value="RU">Russian Federation</asp:ListItem>
                        <asp:ListItem value="RW">Rwanda</asp:ListItem>
                        <asp:ListItem value="KN">Saint Kitts and Nevis</asp:ListItem>
                        <asp:ListItem value="LC">Saint Lucia</asp:ListItem>
                        <asp:ListItem value="VC">Saint Vincent and the Grenadines</asp:ListItem>
                        <asp:ListItem value="WS">Samoa</asp:ListItem>
                        <asp:ListItem value="SM">San Marino</asp:ListItem>
                        <asp:ListItem value="ST">Sao Tome and Principe</asp:ListItem>
                        <asp:ListItem value="SA">Saudi Arabia</asp:ListItem>
                        <asp:ListItem value="SN">Senegal</asp:ListItem>
                        <asp:ListItem value="SC">Seychelles</asp:ListItem>
                        <asp:ListItem value="SL">Sierra Leone</asp:ListItem>
                        <asp:ListItem value="SG">Singapore</asp:ListItem>
                        <asp:ListItem value="SK">Slovakia (Slovak Republic)</asp:ListItem>
                        <asp:ListItem value="SI">Slovenia</asp:ListItem>
                        <asp:ListItem value="SB">Solomon Islands</asp:ListItem>
                        <asp:ListItem value="SO">Somalia</asp:ListItem>
                        <asp:ListItem value="ZA">South Africa</asp:ListItem>
                        <asp:ListItem value="KR">South Korea</asp:ListItem>
                        <asp:ListItem value="ES">Spain</asp:ListItem>
                        <asp:ListItem value="LK">Sri Lanka</asp:ListItem>
                        <asp:ListItem value="SH">St. Helena</asp:ListItem>
                        <asp:ListItem value="PM">St. Pierre and Miquelon</asp:ListItem>
                        <asp:ListItem value="SD">Sudan</asp:ListItem>
                        <asp:ListItem value="SR">Suriname</asp:ListItem>
                        <asp:ListItem value="SJ">Svalbard and Jan Mayen Islands</asp:ListItem>
                        <asp:ListItem value="SZ">Swaziland</asp:ListItem>
                        <asp:ListItem value="SE">Sweden</asp:ListItem>
                        <asp:ListItem value="CH">Switzerland</asp:ListItem>
                        <asp:ListItem value="SY">Syrian Arab Republic</asp:ListItem>
                        <asp:ListItem value="TW">Taiwan</asp:ListItem>
                        <asp:ListItem value="TJ">Tajikistan</asp:ListItem>
                        <asp:ListItem value="TZ">Tanzania</asp:ListItem>
                        <asp:ListItem value="TH">Thailand</asp:ListItem>
                        <asp:ListItem value="TG">Togo</asp:ListItem>
                        <asp:ListItem value="TK">Tokelau</asp:ListItem>
                        <asp:ListItem value="TO">Tonga</asp:ListItem>
                        <asp:ListItem value="TT">Trinidad and Tobago</asp:ListItem>
                        <asp:ListItem value="TN">Tunisia</asp:ListItem>
                        <asp:ListItem value="TR">Turkey</asp:ListItem>
                        <asp:ListItem value="TM">Turkmenistan</asp:ListItem>
                        <asp:ListItem value="TC">Turks and Caicos Islands</asp:ListItem>
                        <asp:ListItem value="TV">Tuvalu</asp:ListItem>
                        <asp:ListItem value="UG">Uganda</asp:ListItem>
                        <asp:ListItem value="UA">Ukraine</asp:ListItem>
                        <asp:ListItem value="AE">United Arab Emirates</asp:ListItem>
                        <asp:ListItem value="UK">United Kingdom</asp:ListItem>
                        <asp:ListItem value="US">United States</asp:ListItem>
                        <asp:ListItem value="UM">United States Minor Outlying Islands</asp:ListItem>
                        <asp:ListItem value="UY">Uruguay</asp:ListItem>
                        <asp:ListItem value="UZ">Uzbekistan</asp:ListItem>
                        <asp:ListItem value="VU">Vanuatu</asp:ListItem>
                        <asp:ListItem value="VA">Vatican City State (Holy See)</asp:ListItem>
                        <asp:ListItem value="VE">Venezuela</asp:ListItem>
                        <asp:ListItem value="VN">Vietnam</asp:ListItem>
                        <asp:ListItem value="VG">Virgin Islands (British)</asp:ListItem>
                        <asp:ListItem value="VI">Virgin Islands (U.S.)</asp:ListItem>
                        <asp:ListItem value="WF">Wallis And Futuna Islands</asp:ListItem>
                        <asp:ListItem value="EH">Western Sahara</asp:ListItem>
                        <asp:ListItem value="YE">Yemen</asp:ListItem>
                        <asp:ListItem value="YU">Yugoslavia</asp:ListItem>
                        <asp:ListItem value="ZM">Zambia</asp:ListItem>
                        <asp:ListItem value="ZW">Zimbabwe</asp:ListItem>
                                           
                                                
                                      </asp:DropDownList>
                </td>
            </tr>
            <tr valign="top">
                <td class="p5px10px ar" 
                    style="width: 200px; font-family: 'times New Roman', Times, serif; font-size: large; font-weight: bolder; font-style: normal;">
                    <span class="red">
                    <br />
                    *</span> State</td>
                <td class="p5px10px">
                    <div id="txtHint">
                        <br />
                        <asp:TextBox ID="txtstate" runat="server" Enabled="False"></asp:TextBox>
                    </div>
                </td>
            </tr>
            <tr valign="top">
                <td colspan="2">
                    <div id="indian_city">
                        <table width="100%">
                            <tr valign="top">
                                <td class="p5px10px ar" 
                                    style="width: 28%; font-family: 'times New Roman', Times, serif; font-size: large; font-weight: bolder; font-style: normal;">
                                    <br />
                                    * City</td>
                                <td class="p5px10px" style="width: 460px">
                                    <div id="txtHint0">
                                        <br />
                                        <asp:TextBox ID="txtcity" runat="server" 
                                            style="z-index: 1; position: absolute; top: 1194px; left: 470px; height: 20px;" 
                                            Enabled="False">txtcity</asp:TextBox>
                <span class="small">
                </span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr valign="top">
                <td class="p5px10px ar" 
                    style="width: 200px; font-family: 'times New Roman', Times, serif; font-size: large; font-weight: bolder; font-style: normal; height: 50px;">
                    <span class="red">
                    <br />
                    *</span> Street Address</td>
                <td class="p5px10px" style="height: 50px">
                    <br />
                    <asp:TextBox ID="txtadd" runat="server" Enabled="False"></asp:TextBox>
                </td>
            </tr>
            <tr valign="top">
                <td class="p5px10px ar" 
                    style="width: 200px; font-family: 'times New Roman', Times, serif; font-size: large; font-weight: bolder; font-style: normal;">
                    <span class="red">
                    <br />
                    *</span> Mobile Number</td>
                <td class="p5px10px">
                    <br />
                    <asp:TextBox ID="txtmobno" runat="server" Height="23px" Enabled="False"></asp:TextBox>
                    <br />
                </td>
            </tr>
            <tr id="landline" valign="top">
                <td class="p5px10px ar" style="width: 200px">
                    <br />
                    &nbsp;* Email-Id</td>
                <td class="p5px10px">
                    <asp:TextBox ID="txtemail" runat="server" 
                        
                        
                        style="z-index: 1; position: absolute; top: 1329px; left: 482px; height: 20px; width: 246px" 
                        Enabled="False"></asp:TextBox>
                </td>
            </tr>
            <tr valign="top">
                <td class="p10px" colspan="2">
                    <p class="bdrBlight">
                        
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <asp:Button ID="Button5" runat="server" 
                            Text="Click To Edit Personal Information" Width="225px" />
                        <br />
                        <br />
                        
                        <img src="PLACEMENT%20IMAGES/ss.JPG" style="width: 699px" /></p>
                </td>
            </tr>
        </table>
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="bdr"                
            
            
            style="background-position: center center; color: #000000; font-size: medium; font-family: 'times New Roman', Times, serif; font-weight: bolder; width: 99%; height: 671px; background-image: url('backgroundimages/background.jpg'); background-repeat: no-repeat; background-attachment: fixed;">
            <tr valign="top">
                <td class="p10px registration_h b large ttu" colspan="2" 
                    
                    style="font-family: 'comic Sans MS'; font-size: xx-large; font-weight: 500; font-style: normal; color: #0099FF; text-align: center; height: 29px;">
                    Professional Information
                </td>
            </tr>
            <tr valign="top">
                <td class="p5px10px ar">
                    <span class="red">* Select Resume Category</td>
                <td class="p5px10px">
                    <asp:DropDownList ID="DropDownList6" runat="server" Height="22px" Width="202px" 
                        Enabled="False">
                        <asp:ListItem>Accounting / Tax</asp:ListItem>
                        <asp:ListItem>Banking</asp:ListItem>
                        <asp:ListItem>Biotech / Scientist</asp:ListItem>
                        <asp:ListItem>CallCentre / Operations</asp:ListItem>
                        <asp:ListItem>Computers / IT</asp:ListItem>
                        <asp:ListItem>Construction / Realestate</asp:ListItem>
                        <asp:ListItem>Editors / Journalism</asp:ListItem>
                        <asp:ListItem>Engineering</asp:ListItem>
                        <asp:ListItem>Export / Import</asp:ListItem>
                        <asp:ListItem>Financial Services</asp:ListItem>
                        <asp:ListItem>Fresh Graduate</asp:ListItem>
                        <asp:ListItem>Hospitality Travel</asp:ListItem>
                        <asp:ListItem>HR / Top Management</asp:ListItem>
                        <asp:ListItem>Insurance</asp:ListItem>
                        <asp:ListItem>Legal Law</asp:ListItem>
                        <asp:ListItem>Manufacturing / Production</asp:ListItem>
                        <asp:ListItem>Media / Entertainment</asp:ListItem>
                        <asp:ListItem>Medical</asp:ListItem>
                        <asp:ListItem>Oil / Gas / Petrolem</asp:ListItem>
                        <asp:ListItem>Public Relation</asp:ListItem>
                        <asp:ListItem>Sales / Marketing</asp:ListItem>
                        <asp:ListItem>Security</asp:ListItem>
                        <asp:ListItem>Teaching / Education</asp:ListItem>
                        <asp:ListItem>Technical</asp:ListItem>
                        <asp:ListItem>Telecom</asp:ListItem>
                        <asp:ListItem>Trade</asp:ListItem>
                        <asp:ListItem>Transportation / Logistic</asp:ListItem>
                    </asp:DropDownList>
                    <br />
                    <span class="small">(Select the Category In Which you want to Post Your RESUME)<br />
                    <br />
                    </span></td>
            </tr>
            <tr valign="top">
                <td class="p5px10px ar">
                    <span class="red">* </span>Key Skills
                </td>
                <td class="p5px10px">
                    <asp:TextBox ID="txtkeyskill" runat="server" Width="470px" Enabled="False"></asp:TextBox>
                    <br />
                    <span class="small uu">(Enter You Key Skills Separated By Comma e.g Marketing, 
                    PHP, JSP, ASP, CA, Scientist etc.)<br />
                    <br />
                    </span></td>
            </tr>
            <tr valign="top">
                <td class="p5px10px ar">
                    <span class="red">*</span> About Yourself &amp; Preferred Job
                    <br />
                    (Upto 500 characters)</td>
                <td class="p5px10px">
                    <asp:TextBox ID="txtyself" runat="server" Height="113px" TextMode="MultiLine" 
                        Width="352px" Enabled="False"></asp:TextBox>
                    &nbsp;Length :<br />
                    &nbsp;<br />
                                </td>
            </tr>
            <tr valign="top">
                <td class="p5px10px ar">
                    <span class="red">* Total Work Experience</span></td>
                <td class="p5px10px">
                    <asp:DropDownList ID="year" runat="server" Enabled="False" Visible="False">
                        <asp:ListItem value="0">0 Years</asp:ListItem>
                        <asp:ListItem value="1">1 Years</asp:ListItem>
                        <asp:ListItem value="2">2 Years</asp:ListItem>
                        <asp:ListItem value="3">3 Years</asp:ListItem>
                        <asp:ListItem value="4">4 Years</asp:ListItem>
                        <asp:ListItem value="5">5 Years</asp:ListItem>
                        <asp:ListItem value="6">6 Years</asp:ListItem>
                        <asp:ListItem value="7">7 Years</asp:ListItem>
                        <asp:ListItem value="8">8 Years</asp:ListItem>
                        <asp:ListItem value="9">9 Years</asp:ListItem>
                        <asp:ListItem value="10">10 Years</asp:ListItem>
                        <asp:ListItem value="11">11 Years</asp:ListItem>
                        <asp:ListItem value="12">12 Years</asp:ListItem>
                        <asp:ListItem value="13">13 Years</asp:ListItem>
                        <asp:ListItem value="14">14 Years</asp:ListItem>
                        <asp:ListItem value="15">15 Years</asp:ListItem>
                        <asp:ListItem value="16">16 Years</asp:ListItem>
                        <asp:ListItem value="17">17 Years</asp:ListItem>
                        <asp:ListItem value="18">18 Years</asp:ListItem>
                        <asp:ListItem value="19">19 Years</asp:ListItem>
                    </asp:DropDownList> &nbsp;
                    
                    <asp:DropDownList id="total_work_exp_month" runat="server" Enabled="False" 
                        Visible="False">
                        <asp:ListItem value="1">1 Months</asp:ListItem>
                        <asp:ListItem value="2">2 Months</asp:ListItem>
                        <asp:ListItem value="3">3 Months</asp:ListItem>
                        <asp:ListItem value="4">4 Months</asp:ListItem>
                        <asp:ListItem value="5">5 Months</asp:ListItem>
                        <asp:ListItem value="6">6 Months</asp:ListItem>
                        <asp:ListItem value="7">7 Months</asp:ListItem>
                        <asp:ListItem value="8">8 Months</asp:ListItem>
                        <asp:ListItem value="9">9 Months</asp:ListItem>
                        <asp:ListItem value="10">10 Months</asp:ListItem>
                        <asp:ListItem value="11">11 Months</asp:ListItem>
                        <asp:ListItem value="12">12 Months</asp:ListItem>
                    </asp:DropDownList>
                    &nbsp;&nbsp;&nbsp;&nbsp;<asp:TextBox ID="txtworkexp" runat="server" Enabled="False"></asp:TextBox>
                    <br />
                    
                    <br />
                </td>
            </tr>
            <tr valign="top">
                <td class="p5px10px ar">
                    *<span class="red"> Current Salary (Per Month Basis)</span></td>
                <td class="p5px10px">
                    <asp:DropDownList ID="salary" runat="server" Height="23px" Width="302px" 
                        Enabled="False">
                        <asp:ListItem value="Negotiable">Negotiable</asp:ListItem>
                        <asp:ListItem value="Up To 5,000">Up To 5,000</asp:ListItem>
                        <asp:ListItem value="5,000-10,000">5,000-10,000</asp:ListItem>
                        <asp:ListItem value="10,000-15,000">10,000-15,000</asp:ListItem>
                        <asp:ListItem value="15,000-20,000">15,000-20,000</asp:ListItem>
                        <asp:ListItem value="20,000-25,000">20,000-25,000</asp:ListItem>
                        <asp:ListItem value="25,000-30,000">25,000-30,000</asp:ListItem>
                        <asp:ListItem value="30,000-35,000">30,000-35,000</asp:ListItem>
                        <asp:ListItem value="35,000-40,000">35,000-40,000</asp:ListItem>
                        <asp:ListItem value="40,000-45,000">40,000-45,000</asp:ListItem>
                        <asp:ListItem value="45,000-50,000">45,000-50,000</asp:ListItem>
                        <asp:ListItem value="50,000-55,000">50,000-55,000</asp:ListItem>
                        <asp:ListItem value="55,000-60,000">55,000-60,000</asp:ListItem>
                        <asp:ListItem value="60,000-65,000">60,000-65,000</asp:ListItem>
                        <asp:ListItem value="65,000-75,000">65,000-75,000</asp:ListItem>
                        <asp:ListItem value="75,000-80,000">75,000-80,000</asp:ListItem>
                        <asp:ListItem value="80,000-85,000">80,000-85,000</asp:ListItem>
                        <asp:ListItem value="85,000-90,000">85,000-90,000</asp:ListItem>
                        <asp:ListItem value="90,000+">90,000+</asp:ListItem>
                    </asp:DropDownList><br />
                    <br />
                    <asp:TextBox ID="txtedudetails" runat="server" 
                        
                        
                        style="z-index: 1; position: absolute; top: 1984px; left: 458px; width: 223px; height: 31px;" 
                        TextMode="MultiLine" ReadOnly="True"></asp:TextBox>
                    <br />
                </td>
            </tr>
            <tr valign="top">
                <td class="p5px10px ar">
                    <span class="red"> Education Details</span></td>
                <td class="p5px10px">
                    <asp:DropDownList ID="edudetails" runat="server" 
                        
                        
                        style="z-index: 1; position: absolute; top: 1996px; left: 486px; width: 217px; height: 28px;" 
                        Enabled="False" Visible="False">
                        <asp:ListItem>Higher Secondary</asp:ListItem>
                        <asp:ListItem Value="Secondary School"></asp:ListItem>
                        <asp:ListItem Value="Vocational Course"></asp:ListItem>
                        <asp:ListItem Value="Diploma"></asp:ListItem>
                        <asp:ListItem Value="Advanced/Higher Diploma"></asp:ListItem>
                        <asp:ListItem Value="Professional Degree"></asp:ListItem>
                        <asp:ListItem Value="Bachelor Degree"></asp:ListItem>
                        <asp:ListItem Value="B.A"></asp:ListItem>
                        <asp:ListItem Value="B.Arch"></asp:ListItem>
                        <asp:ListItem Value="B.C.A"></asp:ListItem>
                        <asp:ListItem Value="B.B.A"></asp:ListItem>
                        <asp:ListItem Value="B.Com"></asp:ListItem>
                        <asp:ListItem Value="B.Ed"></asp:ListItem>
                        <asp:ListItem Value="BDS"></asp:ListItem>
                        <asp:ListItem Value="BHM"></asp:ListItem>
                        <asp:ListItem Value="B.Pharma"></asp:ListItem>
                        <asp:ListItem Value="B.Sc"></asp:ListItem>
                        <asp:ListItem Value="B.Tech/B.E"></asp:ListItem>
                        <asp:ListItem Value="LLB"></asp:ListItem>
                        <asp:ListItem Value="MBBS"></asp:ListItem>
                        <asp:ListItem Value="BVSC"></asp:ListItem>
                        <asp:ListItem></asp:ListItem>
                        <asp:ListItem Value="Master Degree"></asp:ListItem>
                        <asp:ListItem Value="M.A"></asp:ListItem>
                        <asp:ListItem Value="M.Arch"></asp:ListItem>
                        <asp:ListItem Value="M.C.A"></asp:ListItem>
                        <asp:ListItem Value="M.B.A/PGDM"></asp:ListItem>
                        <asp:ListItem Value="M.Com"></asp:ListItem>
                        <asp:ListItem Value="M.Ed"></asp:ListItem>
                        <asp:ListItem Value="MS"></asp:ListItem>
                        <asp:ListItem Value="M.Pharma"></asp:ListItem>
                        <asp:ListItem Value="M.Sc"></asp:ListItem>
                        <asp:ListItem Value="M.Tech"></asp:ListItem>
                        <asp:ListItem Value="LLM"></asp:ListItem>
                        <asp:ListItem Value="MVSC"></asp:ListItem>
                        <asp:ListItem Value="CA"></asp:ListItem>
                        <asp:ListItem Value="CS"></asp:ListItem>
                        <asp:ListItem Value="ICWA"></asp:ListItem>
                        <asp:ListItem Value="Integrated PG"></asp:ListItem>
                        <asp:ListItem Value="Post Graduate Diploma"></asp:ListItem>
                        <asp:ListItem Value="Doctorate Degree"></asp:ListItem>
                        <asp:ListItem Value="Some Tertiary Coursework"></asp:ListItem>
                        <asp:ListItem Value="Ph.D/Doctorate"></asp:ListItem>
                        <asp:ListItem Value="MPHIL"></asp:ListItem>
                        <asp:ListItem Value="Others"></asp:ListItem>
                    </asp:DropDownList>
                    &nbsp;<br />
                </td>
            </tr>
            <tr valign="top">
                <td class="p10px" colspan="2">
                    <p class="bdrBlight">
                        <br />
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <asp:Button ID="Button3" runat="server" 
                            Text="Click To Edit Your Professional Information" />
                        <br />
                        <br />
                        <img src="PLACEMENT%20IMAGES/placement_services.jpg" 
                            style="width: 700px; height: 119px" /></p>
                </td>
            </tr>
        </table>
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="bdr" 
            
            
                            
            
                            
                            
            style="background-position: center center; font-family: 'times New Roman', Times, serif; font-size: medium; font-weight: bolder; color: #000000; width: 99%; height: 681px; background-image: url('backgroundimages/background.jpg'); background-repeat: no-repeat; background-attachment: fixed; margin-right: 21;">
            <tr valign="top">
                <td class="p10px registration_h b large ttu" colspan="2" 
                    style="background-position: center; font-family: 'comic Sans MS'; font-size: xx-large; font-weight: 500; font-style: normal; color: #0099FF; height: 46px; z-index: auto; left: auto; bottom: auto; right: auto; top: auto; width: auto; text-align: center;">
                    &nbsp;Resume Details        </tr>
            <tr valign="top">
                <td class="p5px10px ar" style="height: 50px">
                    Job Preference</td>
                <td class="p5px10px" style="height: 50px">
                    <asp:RadioButton ID="rfulltime" runat="server" Text="   Full Time" 
                        GroupName="r1" Enabled="False" />
                    &nbsp;<asp:RadioButton ID="rparttime" runat="server" Text="   Part Time" 
                        GroupName="r1" Enabled="False" />
                    &nbsp;<asp:RadioButton ID="rfreelancer" runat="server" Text="   Freelancer" 
                        GroupName="r1" Enabled="False" />
                </td>
            </tr>
            <tr valign="top">
                <td class="p5px10px ar" style="height: 141px">
                    <span class="red">* </span>Resume Title<br />
                    (Maximum 150 Characters)</td>
                <td class="p5px10px" style="height: 141px">
                    <asp:TextBox ID="txtrestit" runat="server" Width="351px" Enabled="False"></asp:TextBox>
                    &nbsp; Length :
                    <asp:TextBox ID="txtlen" runat="server" Width="38px" Enabled="False"></asp:TextBox>
                    <br />
                    <span class="small">
                    &nbsp;Example<br />
                    - BE,MBA 17yrs exp. in Customer Support/Project management/Operations<br />
                    - MCA,MTech (java,.net,PHP,telecommunication) have 7yrs exp. in Customer 
                    Support/Project management/Operations<br />
                    - B.Tech in Computer Science (Fresher)</span></td>
            </tr>
            <tr valign="top">
                <span class="small">
                <td class="p5px10px ar" style="height: 109px">
                    * Select Your Resume To Upload</td>
                <td class="p5px10px" style="height: 109px">
                    <br />
                    <asp:FileUpload ID="FileUpload1" runat="server" Width="229px" Enabled="False" />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <asp:Button ID="btnupload" runat="server" Text="Upload" Width="143px" 
                        Enabled="False" />
                    <br />
                    <br />
                    <asp:Label ID="lblStatus" runat="server"></asp:Label>
                </td>
                </span>
            </tr>
            <tr valign="top">
                <span class="small">
                <td class="p5px10px ar">
                    &nbsp;</td>
                <td class="p5px10px">
                    &nbsp;</td>
                </span>
            </tr>
            <tr valign="top">
                <span class="small">
                <td class="p10px" colspan="2">
                    <p class="bdrBlight">
                        <img src="PLACEMENT%20IMAGES/youth4work%20logo.png" style="width: 701px" /></p>
                </td>
                </span>
            </tr>
            <tr valign="top">
                <span class="small">
                <td>
                    &nbsp;</td>
                <td class="p10px">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <asp:Button ID="Button6" runat="server" Text="Click To Edit Resume Details" />
                </td>
                </span>
            </tr>
            <tr valign="top">
                <span class="small">
                <td>
                    &nbsp;</td>
                <td class="p5px20px">
                    <div class="prb">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </td>
                </span>
            </tr>
            <tr valign="top">
                <span class="small">
                <td colspan="2" height="40">
                    &nbsp;</td>
                </span>
            </tr>
        </table>
        <br />
    </p>
</asp:Content>

