﻿<%@ Page Language="VB" MasterPageFile="~/OPMS.master" AutoEventWireup="false" CodeFile="UpdateLoginInfo.aspx.vb" Inherits="UpdateLoginInfo" title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <p style="background-color: #FFFFFF">

<table class="content" width="100%" align="center" border="0" cellspacing="0" 
            cellpadding="0" frame="above" 
            
            
            
            
            style="background-position: center center; background-image: url('backgroundimages/background.jpg'); empty-cells: hide; background-repeat: no-repeat; background-attachment: fixed; font-family: 'comic Sans MS'; font-size: large; font-weight: 500; color: #000000; height: 590px;">



<tr valign="top">

<td colspan="2" class="p10px registration_h b large ttu" 
        
        
        
        style="font-family: 'comic Sans MS'; font-size: x-large; font-weight: 500; font-style: normal; color: #FFFFFF; height: 38px; empty-cells: hide; background-color: #000000;">
    
   <marquee behavior="">Update Login Information</marquee> </td>

</tr>



<tr valign="top">

<td colspan="2" class="p5px10px bgf8f8f8 bdrB" 
        
        
        style="font-family: 'comic Sans MS'; font-size: large; font-weight: 500; font-style: normal; height: 12px; color: #000000; background-color: #C0C0C0;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br />
    To apply to jobs and get contacted by recruiters, please create your account<br />
    </td>

</tr>



<tr valign="top">

<td width="25%" class="p5px10px ar" 
        
        
        style="font-family: 'comic Sans MS'; font-size: large; font-weight: 500; font-style: normal">
    <span class="red">
    *</span> Username</td>

<td class="p5px10px" style="width: 854px">
    <asp:TextBox ID="TextBox1" runat="server" Enabled="False" Width="276px"></asp:TextBox> 
    &nbsp;<br />

</td>

</tr>



<tr valign="top">

<td class="p5px10px ar" 
        style="font-family: 'TImes New Roman', Times, serif; font-size: large; font-weight: bolder; font-style: normal">
    <span class="red" 
        
        style="font-family: 'comic Sans MS'; font-size: large; font-weight: 500; color: #000000">
    * Password</span></td>

<td class="p5px10px" style="width: 854px">
    <asp:TextBox ID="TextBox2" runat="server" Width="274px" TextMode="Password"></asp:TextBox>
    
        
    <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" 
    ControlToValidate="TextBox2"
        ErrorMessage=" * Password Cannot Be Left Blank" Font-Size="Small"></asp:RequiredFieldValidator>
    
        
    <br />
    
        
        </td>

</tr>



<tr valign="top">

<td class="p5px10px ar" 
        
        style="height: 24px; font-family: 'comic Sans MS'; font-size: large; font-weight: 500; font-style: normal;">
    <span class="red">
    *</span> Confirm Password</td>

<td class="p5px10px" 
        style="height: 24px; font-family: 'comic Sans MS'; width: 854px;">
    <asp:TextBox ID="TextBox3" runat="server" Width="274px" TextMode="Password"></asp:TextBox>
                                <asp:RequiredFieldValidator ID="RequiredFieldValidator3" runat="server" 
                                ControlToValidate="TextBox3"
        ErrorMessage=" * Confirm Password Cannot Be Left Blank" Font-Size="Small"></asp:RequiredFieldValidator>
                                </td>

</tr>



<tr valign="top">

<td colspan="2" class="p10px" style="height: 220px"><p class="bdrBlight" 
        style="height: 420px; background-image: url('PLACEMENT%20IMAGES/Job-Placement-Employment-Transition-2.gif');">
    <br />
    <asp:CompareValidator ID="CompareValidator1" runat="server" 
    ControlToValidate="TextBox3" ControlToCompare="TextBox2"
        ErrorMessage=" * Password Mismath" Font-Size="Small"></asp:CompareValidator>
    
    <br />
    
    
    
    <br />
    
    <br />
    
    <br />
    
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
    <asp:Button ID="Button2" runat="server" Text="Update" Width="274px" 
        Height="26px" />
    </p>
    </td>

</tr>



</table>
        <br />
    </p>
</asp:Content>

